In [18]:
pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\administrator\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [19]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [20]:
host='mydatabase.cvdbmytulfci.ca-central-1.rds.amazonaws.com'
port=int(3306)
user="nchhabra"
passw="nchhabra"
database="BDAT1004"

In [21]:
mydb = create_engine('mysql+pymysql://' + user + ':' + passw + '@' + host + ':' + str(port) + '/' + database , echo=False)

In [22]:
dataset = "https://raw.githubusercontent.com/Nchhabra-200460595/FinalProjectBDAT1004/main/Data.csv"
data = pd.read_csv(dataset,delimiter=',')
data.head()

,Platforms,Metric,Year2017,Year2018,Year2019,Year2020
0,Nintendo Switch hardware/Japan,ten thousand units (hardware),60,378,385,521
1,Nintendo Switch hardware/The Americas,ten thousand units (hardware),120,594,688,811
2,Nintendo Switch hardware/Europe,ten thousand units (hardware),76,379,455,534
3,Nintendo Switch hardware/Other,ten thousand units (hardware),18,154,169,237
4,Nintendo Switch software/Japan,ten thousand units (software),89,"1,226","2,148","3,256"

In [23]:
data.to_sql(name="DATA", con=mydb, if_exists = 'replace', index=False)

In [25]:
import mysql.connector

mydb = mysql.connector.connect(
  host="mydatabase.cvdbmytulfci.ca-central-1.rds.amazonaws.com",
  user="nchhabra",
  password="nchhabra",
  database="BDAT1004"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM DATA")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Nintendo Switch hardware/Japan', 'ten thousand units (hardware)', 60, '378', '385', '521', 1)
('Nintendo Switch hardware/The Americas', 'ten thousand units (hardware)', 120, '594', '688', '811', 2)
('Nintendo Switch hardware/Europe', 'ten thousand units (hardware)', 76, '379', '455', '534', 3)
('Nintendo Switch hardware/Other', 'ten thousand units (hardware)', 18, '154', '169', '237', 4)
('Nintendo Switch software/Japan', 'ten thousand units (software)', 89, '1,226', '2,148', '3,256', 5)
('Nintendo Switch software/The Americas', 'ten thousand units (software)', 286, '2,752', '5,394', '7,428', 6)
('Nintendo Switch software/Europe', 'ten thousand units (software)', 142, '1,917', '3,516', '5,017', 7)
('Nintendo Switch software/Other', 'ten thousand units (software)', 29, '456', '797', '1,171', 8)

In [18]:
pip install python-crontab

Collecting python-crontab
  Downloading python-crontab-2.5.1.tar.gz (52 kB)
Requirement already satisfied: python-dateutil in c:\users\administrator\anaconda3\lib\site-packages (from python-crontab) (2.8.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: six>=1.5 in c:\users\administrator\anaconda3\lib\site-packages (from python-dateutil->python-crontab) (1.15.0)
Building wheels for collected packages: python-crontab
  Building wheel for python-crontab (setup.py): started
  Building wheel for python-crontab (setup.py): finished with status 'done'
  Created wheel for python-crontab: filename=python_crontab-2.5.1-py3-none-any.whl size=25602 sha256=538fd72c49f231fa81166ec0eda48735285646f69d0ff3dedf32c17c8d5098b0
  Stored in directory: c:\users\administrator\appdata\local\pip\cache\wheels\cd\5b\e4\6bfb654d6f4233c071d234f9430f7b4df6b26fbead91871811
Successfully built python-crontab
Installing collected packages: python-crontab
Successfully installed python-crontab-2.5.1